<% @order.each do |order| %>

  <%@l = LineItem.where(order_id: order)%>

<div>
<strong>Order date:</strong>

  <%= order.created_at.strftime("%e-%b-%Y")%>


<p>
  <strong>Address:</strong>
  <%= order.address %>
</p>


<p>
  <strong>Name:</strong>
  <%= order.email %><br>
  <strong>Order_id: <%= order.id %></strong>
</p> 


<p>
  <strong>Product details:</strong>
    <% @l.each do |quan|%>
    <%= image_tag(quan.product.image_url)%>

    <b><%= quan.product.title%></b>

    <b>Quantity : <%=quan.quantity%></b>
    <b>Price :<%= number_to_currency(quan.product.price)%></b>
  <%end%>
  <p>
  <strong>Pay type:</strong>
  <%= order.pay_type %>
</p>
</p>






<% end %>
