<% @order.each do |order| %>
  <%
=begin%>
 <%=order.id%><br>
  
<%@cart.each do |cart|%>
    <% e = cart.line_items%>
    <%e.each do |w|%>
    <%= w.product.title%>
    <%end%>
<%end%> 
<%
=end%>
  

<div>
<p>
  <strong>Name:</strong>
  
  <%= order.name %><br>
  <strong>Products title: </strong>
</p>

<p>
  <strong>Address:</strong>
  <%= order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= order.email %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= order.pay_type %>
</p>

</div>
<% end %>
