<article style="align-self:center;">
    <% if notice %>
    <aside id="notice"><%= notice %></aside>
    <% end %>
    <% unless cart.line_items.empty? %>
    <div class="shopping_cart_name">
        <h1>Shopping Cart</h1>
    </div>
    <div class="cart_items_01">
        <div><%= render (cart.line_items) %></div>
        <div>
            <div style="border-top:1px solid grey;display:flex;justify-content:space-around;">
                <p style="font-size:20px;"><b>Total:</b></p>
                <p style="font-size:20px;"><b><%= number_to_currency(@cart.total_price) %></b></p>
           </div>
        </div>
    </div>

    <div class="actions">
        <p ><%= button_to 'Empty cart', cart,method: :delete,data: { confirm: 'Are you sure?' },class:'button_emp_check',style:'background-color: red;' %></p>
        <p ><%= button_to 'Checkout', new_order_path,method: :get,class:'button_emp_check',style:'background-color: green;'%></p>
    </div>




    <% end %>
</article>