<div style="padding:50px;">

<%= form_with(model: product, local: true) do |form| %>
<% if product.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

    <ul>
        <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>
<div style="border:.5px solid #fff;border-radius:10px;box-shadow:0px 0px 10px #000;width:40%;margin:auto;">
  <h1>New Product</h1>

    <div class="field" style="padding:10px;">
        <h2><%= form.label :title  %></h2>
        <%= form.text_field :title, :size=>"50",:maxlength=>"254" %>
    </div>

    <div class="field" style="padding:10px;">
        <h2><%= form.label :description %></h2>
        <%= form.text_area :description,:rows=>10,:cols=>70 %>
    </div>

    <div class="field" style="padding:10px;">
        <h2><%= form.label :image_url %></h2>
        <%= form.text_field :image_url, :size=>"50",:maxlength=>"254"%>
    </div>

    <div class="field" style="padding:10px;">
        <h2><%= form.label :price %></h2>
        <%= form.text_field :price, :size=>"50",:maxlength=>"254" %>
    </div>



    <div class="actions">
        <%= form.submit %>
    </div>

</div>
<% end %>
</div>
