
<p>
  <strong>Image url:</strong>
  <%= image_tag(@product.image_url)%>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>



<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>
<%if current_user.present?%>
<%= button_to 'Add to Cart', line_items_path(product_id: @product.id) %>
<%else%>
  <%= button_to 'Add to Cart', user_session_path %>
                    
<%end%>

