<div class="categories">
      <%= link_to  "Best Sellers", store_index_url %>
      <%= link_to  "Todays Deals", store_index_url %>
      <%= link_to  "Mobiles", store_index_url %>
      <a href="#">Prime</a>      
      <%= link_to  "Fashion", store_index_url %>
      <a href="#">Customer Service</a>
      <a href="#">Amazon Pay</a>
      <%= link_to  "New Releases", store_index_url %>
      <%= link_to  "Electronics", store_index_url %>

</div>