<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    </style>
</head>

<body>
    <div style="background-color:#131921; width:100%;top:0;" class="web-nav">
        <div id="mySidenav" class="sidenav">

            <div style="display:flex;background-color:#232f3e;color:white;top:0px;height:100px;align-items:center;">

                <div style="margin:5px;"><i style="font-size:22px" class="fa">&#xf2be;Hello,<%if current_user.present?%>
                        <%=current_user.email%>
                        <%else%>
                            <%if current_seller.present?%>
                                <%= current_seller.email%>
                            <%else%>
                            <%= link_to "Sign in user",user_session_path,style:"color:white;text-decoration: none;"%>
                            <%end%>
                        <%end%>
                    </i></div>
                <div><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times; </a></div>

            </div>
            <div class="" style="width:320px;">
            <div class="sidenav_items">
                <h2>Trending</h2>
                <p><%= link_to  "Best Sellers", root_path%></p>
                <a>New Releases</a>
                <a>Movers and Shakers</a>
            </div>
            <div class="sidenav_items">
                <h2>Digital Content And Devices</h2>
                <a>Echo & Alexa</a>
                <a>Fire TV</a>
                <a>Kindle E-Readers & eBooks</a>
                <a>Audible Audiobooks</a>
                <a>Amazon prime Video</a>
                <a>Amazon prime Music</a>
            </div>
            <div class="sidenav_items">
                <h2>Shop By Department</h2>
                <a>Mobiles, Computers</a>
                <a>TV, Appliances, Electronics</a>
                <a>Men's Fashion</a>
                <a>Women's Fashion</a>
                <a>See All</a>
            </div>
            <div class="sidenav_items">
                <h2>Programs & Features</h2>
                <a>Gift Cards & Mobile Recharges</a>
                <a>Flight Tickets</a>
                <a>Full Store Directory</a>
            </div>
            <div class="sidenav_items">
                <h2>Help & Settings</h2>
                <a>Your Account</a>
                <a>Customer Service</a>
                <a>Sign In</a>
            </div>
            </div>

        </div>


        <div class="nav-body">
            <div style="font-size:30px;cursor:pointer;display:flex;" onclick="openNav()" class="amz-icon">
                <p class="amz_p" style="color:white;font-size: 30px;text-align:center;margin-top:50px;">&#9776;</p> 
            </div>
            <div style="margin-top:20px;">
                <%= link_to  image_tag('https://mikekitko.com/wp-content/uploads/2019/10/amazon-logo-white.png'), root_path,class:"ama_on" %>
            </div>
            <div class="location">
                <button style='font-size:14px;background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;color:white;text-align:center;'> <i class='fas fa-map-marker-alt'>Location</i></button>
            </div>


            <form action="<%= search_path %>" class="search">
                <input type="text" placeholder="Search.." name="search_key" style="width:80%;height:40px;" class="search-1">
                <%= button_to  "Search", search_path,class:"fa fa-search",style:"background-color: orange;height:40px;border-radius:3px;" %>
            </form>



            <div class="dropdown" style="color:white">
                <%if !current_seller.present?%>
                <span>
                    <%if current_user.present?%>

                    <p>Hello, <%= current_user.email%></p>
                    <p><b>Account & Lists</b></p>
                    <%else%>
                    <p>Hello, Sign in</p>
                    <p><b>Account & Lists</b></p>
                    <%end%>
                </span>
                
                
                <div class="dropdown-content" style="color:black;">
                    <div class="">
                        <% if !current_user.present?%>
                        <%= button_to  "Sign In", new_user_session_path, style:'background-color:#efbb31;border-radius:5px;width:120px;height:50px;'%>

                        <p>New customer? <%= link_to  "Start here", new_user_registration_path %></p>
                        <%else%>
                        <%= link_to  "Sign out", destroy_user_session_path, method: :delete %>
                        
                        <%end%>

                    </div>
                    <div class="" style="display:flex;">
                        <div class="">
                            <h2>Your Lists</h2>
                            <a href="#">Wish List</a>
                        </div>
                        <div class="">
                            <h2>Your Account</h2>
                            <p><%= link_to  "Your Accounts",   edit_user_registration_path  %></p>
                            <p><a href="#">Your Orders</a></p>
                        </div>
                    </div>

                </div>
                <%end%>

            </div>
            <div class="return" style="background-color:transperant;">

            </div>
            <% if current_user.present?%>
                <div class="cart">
                    <%if @cart.present?%>
                        <span style="color:yellow"><%= LineItem.where(cart_id: @cart.id).count%></span>
                        <%= link_to  "cart", cart_path(@cart.id),class:"fa fa-shopping-cart",style: "font-size:20px;color:white;text-decoration: none;" %>
                    <% else%>
                        <%= link_to "cart",carts_empty_cart_path,class:"fa fa-shopping-cart",style: "font-size:20px;color:white;text-decoration: none;" %>
                    <%end%>

                </div>
            <%end%>



        </div>

    </div>
    <%= render  "layouts/categories" %>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

   
    
</body>

</html>
