<div class="login">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="login-form">
        <p style="font-size:24px">Sign up for user </p>
        <h3 style="color:black;">Username:</h3>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <h3 style="color:black;">Password:</h3>


        <%= f.password_field :password, autocomplete: "new-password" %><br>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <br>
        <h3 style="color:black;">Password Confirmation:</h3><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br>
        <br>
        <%= f.submit "Sign up",class:'session_button' %>

        <br>
        <br>
        <%= render "users/shared/links" %>
    </div>
</div>

<% end %>